version: "3"

services:
  wordpress:
    container_name: CHANGE_ME
    image: ghcr.io/henrygd/docker-wordpress:latest
    restart: unless-stopped
    volumes:
      - PATH_TO_WORDPRESS_FILES:/usr/src/wordpress
    environment:
      INSTALL_PLUGINS: "true"